@import "./../../assets/mixins.scss";
@import "./../../assets/palette.scss";

.BookList {
    margin: 60px 10px;
    &__Heading {
        text-align: center;
        font-family: $heading-font;
        @include text-style(18px, 350, 27px, $spacing: 0.02em);
        padding-bottom: 40px;
    }

    &__Grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}
