@import "./../../assets/mixins.scss";
@import "./../../assets/palette.scss";

.Searchbar {
    @include flex($just-cont: center, $flx-dir: column);
    min-height: 45vh;
    background: url("./../../images/book.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    &__Container {
        @include flex;
        gap: 10px;
        border: 1px solid $search-border;
        border-radius: 30px;
        padding: 10px;
        width: 584px;
        background: white;
    }

    &__Container:hover {
        box-shadow: 0 0 10px $box-shadow;
    }

    &__Label {
        font-family: $body-font;
        margin-bottom: 15px;
        @include text-style(18px, 400, 27px, $spacing: 0.02em);
    }

    @media (min-width: ($phone + 1)) and (max-width: $tablet-portrait) {
        &__Label {
            display: none;
        }
    }

    @media (max-width: ($phone)) {
        &__Label {
            display: none;
        }
    }

    &__Icon {
        color: $box-shadow;
    }

    &__Input {
        border: none;
        outline: none;
        width: 100%;
        @include text-style(16px, 300, 27px, $spacing: 0.02em);
        font-family: $body-font;
    }
    @media (min-width: ($phone + 1)) and (max-width: $tablet-portrait) {
        &__Container {
            width: 50%;
            margin-top: 20px;
        }
    }
    @media (max-width: ($phone)) {
        &__Container {
            width: 33%;
            margin-top: 20px;
        }
    }
}

@media (min-width: ($phone + 1)) and (max-width: $tablet-portrait) {
    .Searchbar {
        background: url("./../../images/line.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media (max-width: ($phone)) {
    .Searchbar {
        background: url("./../../images/line.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
