@import "./palette.scss";

@mixin flex(
    $just-cont: space-between,
    $align-itm: center,
    $flx-dir: row,

    $flex-wrap: nowrap
) {
    display: flex;
    justify-content: $just-cont;
    align-items: $align-itm;
    flex-direction: $flx-dir;

    flex-wrap: $flex-wrap;
}

@mixin background-and-color($background, $color) {
    background-color: $background;
    color: $color;
}

@mixin text-style(
    $size,
    $weight,
    $height,
    $spacing: 0.02em,
    $transform: none,
    $decoration: none,
    $text-align: none
) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    letter-spacing: $spacing;
    text-transform: $transform;
    text-decoration: $decoration;
    text-align: $text-align;
}

@mixin padding-and-margin($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

@mixin height-and-width($height, $width) {
    height: $height;
    width: $width;
}

@mixin phone {
    @media only screen and (max-width: ($phone)) {
        @content;
    }
}

@mixin tablet-portrait {
    @media only screen and (min-width: ($phone + 1px)) and(max-width: ($tablet-portrait)) {
        @content;
    }
}

@mixin tablet-landscape {
    @media only screen and (min-width: ($tablet-portrait + 1px)) and (max-width: ($tablet-landscape)) {
        @content;
    }
}

@mixin laptop {
    @media only screen and (min-width: ($tablet-landscape + 1px)) {
        @content;
    }
}
