@import "./../../assets/mixins.scss";
@import "./../../assets/palette.scss";

.Footer {
    margin-top: 50px;
    height: max-content;
    left: 0;
    bottom: 0;
    right: 0;
    @include flex($just-cont: end);
    position: fixed;

    &__ScrollUp {
        margin: 20px;
        color: navy;
    }
}
