@import "./../../assets/mixins.scss";
@import "./../../assets/palette.scss";

.Book {
    border-radius: 30px;
    @include flex($flx-dir: column, $just-cont: space-evenly);
    transition: all 0.25s;
    border: 1px solid $search-border;
    padding: 15px;

    &__Bookmark {
        float: left;
    }

    &__Image {
        border-radius: 10%;
        height: 250px;
        width: 200px;
    }

    &__Title {
        font-family: $navbar-font;
        @include text-style(18px, bold, 27px);
    }

    &__Author {
        font-family: $body-font;
        @include text-style(16px, 500, 27px);
    }
    &__Info {
        font-family: $body-font;
        @include flex($just-cont: space-evenly);
        width: 100%;
    }

    &__Description {
        font-family: $body-font;
        @include text-style(15px, 300, 27px);
    }

    &__Details {
        border: 1px solid $search-border;
        border-radius: 30px;
        padding: 10px;
    }

    &__Details:hover {
        box-shadow: 0 0 10px $box-shadow;
    }
}

.savedBook {
    &__On {
        color: red;
    }
    &__Off {
        color: navy;
    }
}

.BookModal {
    &__Close {
        float: right;
    }
    &__Heading {
        margin: 40px 0;
    }

    &__Container {
        display: grid;
        grid-template-columns: 1fr 2fr;

        // background: url("./../../images/modal.jpg");
    }
    &__Image {
        height: 300px;
        width: 300px;
    }
    &__Info {
        font-family: $body-font;
        @include text-style(16px, 300, 27px);
    }
    &__Desc {
        margin: 40px 0;
    }
}

.Book:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px $box-shadow;
}
